body > div.container{
    margin-top:50px;
}

.nav > li > form > input{
    background:none!important;
    border:none;
    padding:0!important;
    cursor: pointer;
    color: #9d9d9d;
}

.nav > li > form > input:hover, .nav > li > p{
    color: #ffffff;
}

.nav > li > form, .nav > li > p{
    padding-top:15px;
}